USE [Modelo]
GO
/****** Object:  StoredProcedure [dbo].[STP_gera_bases_POC_Historico]    Script Date: 18/01/2025 08:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DECLARE @vpl AS NVARCHAR(255) = (select top 1 vpl from treinamento.gpires.tabelavpl where dateInsert = (SELECT MAX(dateInsert) FROM treinamento.gpires.tabelavpl));
--EXEC Modelo.dbo.STP_gera_bases_POC_Historico @vpl, '2024-05-16', '2024-05-13', 'Oficial', 'Oficial', 2023

ALTER PROCEDURE [dbo].[STP_gera_bases_POC_Historico] (
	@vpl AS NVARCHAR(255),
	@data_d0 AS DATE,
	@data_d1 AS DATE,
	@curva1 AS NVARCHAR(50),
	@curva2 AS NVARCHAR(50),
	@anofornecimento_min INT
) AS
BEGIN

	DECLARE @dataHistorico_d_0 AS VARCHAR(32) = CAST(CONVERT(varchar(32), @data_d0, 127) + 'T23:59:59.9999999Z' AS DATETIME2);
	DECLARE @dataHistorico_d_1 AS VARCHAR(32) = CAST(CONVERT(varchar(32), @data_d1, 127) + 'T23:59:59.9999999Z' AS DATETIME2);


	-------------------------------------------------------------------------------------------------------------------
	-- Bases de portfolio

	-------------------------------------------------------------------------------------------------------------------
	-- Bases de portfolio

	BEGIN
	   DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_portfolio_d0;
	END
	
	SELECT @dataHistorico_d_0;

	SELECT * INTO Modelo.dbo.proc_POC_Historico_portfolio_d0
	FROM Modelo.dbo.[s_all_operations_portfolio](@dataHistorico_d_0)
	WHERE DataFornecimento >= DATEFROMPARTS(@anofornecimento_min, 1, 1)
		OR @anofornecimento_min IS NULL;

	BEGIN
	   DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_portfolio_d1;
	END
	
	SELECT * INTO Modelo.dbo.proc_POC_Historico_portfolio_d1
	FROM Modelo.dbo.[s_all_operations_portfolio](@dataHistorico_d_1)
	WHERE DataFornecimento >= DATEFROMPARTS(@anofornecimento_min, 1, 1)
		OR @anofornecimento_min IS NULL;



	


	-------------------------------------------------------------------------------------------------------------------
	-- Bases de Curva

	DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_Curva_d0;
	SELECT *
	INTO Modelo.dbo.proc_POC_Historico_Curva_d0
	FROM book.curva.[VW_Curva_Fwd3] 
	WHERE [Data] = (SELECT MAX(Data) FROM book.curva.[VW_Curva_Fwd3] WHERE Curva = @curva1 and [DATA] <= @data_d0)
		AND curva = @curva1;


	DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_Curva_d1;
	SELECT *
	INTO Modelo.dbo.proc_POC_Historico_Curva_d1
	FROM book.curva.[VW_Curva_Fwd3] 
	WHERE [Data] = (SELECT MAX(Data) FROM book.curva.[VW_Curva_Fwd3] WHERE Curva = @curva2 and [DATA] <= @data_d1)
		AND curva = @curva2;


	DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_DIFF_Curva;
	SELECT [Data Curva D+0] = C0.[DATA],
		[Data Curva D-1] = C1.[DATA],
		[Curva] = ISNULL(C0.Curva, C1.Curva),
		[data_fwd] = ISNULL(C0.data_fwd, C1.data_fwd),
		[Submercado] = ISNULL(C0.Submercado, C1.Submercado),
		[Fonte_Energia] = ISNULL(C0.Fonte_Energia, C1.Fonte_Energia),
	
	
		DIFF_referencia = ISNULL(C0.referencia, 0) - ISNULL(C1.referencia, 0),
		DIFF_Spread_Submercado = ISNULL(C0.Spread_Submercado, 0) - ISNULL(C1.Spread_Submercado, 0),
		DIFF_spread_fonte_energia = ISNULL(C0.spread_fonte_energia, 0) - ISNULL(C1.spread_fonte_energia, 0),
		DIFF_Agio = ISNULL(C0.Agio,0) - ISNULL(C1.Agio,0),
	
		[referencia_d0] = C0.referencia,
		[Spread_Submercado_d0] = C0.Spread_Submercado,
		[spread_fonte_energia_d0] = C0.spread_fonte_energia,
		[Agio_d0] = C0.Agio,
	
		[referencia_d1] = C1.referencia,
		[Spread_Submercado_d1] = C1.Spread_Submercado,
		[spread_fonte_energia_d1] = C1.spread_fonte_energia,
		[Agio_d1] = C1.Agio
	INTO Modelo.dbo.proc_POC_Historico_DIFF_Curva
	FROM Modelo.dbo.proc_POC_Historico_Curva_d0 C0
	FULL OUTER JOIN Modelo.dbo.proc_POC_Historico_Curva_d1 C1
	ON C0.data_fwd = C1.data_fwd
		AND C0.Submercado = C1.Submercado
		AND C0.Fonte_Energia = C1.Fonte_Energia;


	-------------------------------------------------------------------------------------------------------------------
	-- Bases de PLD

	DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_PLD_d0;
	SELECT *
	INTO Modelo.dbo.proc_POC_Historico_PLD_d0
	FROM  Book.[Curva].[PLD_Oficial] 
	WHERE [DataInsert] <= @data_d0;

	DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_PLD_d1;
	SELECT *
	INTO Modelo.dbo.proc_POC_Historico_PLD_d1
	FROM  Book.[Curva].[PLD_Oficial] 
	WHERE [DataInsert] <= @data_d1;



	DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_DIFF_PLD;
	SELECT
		C0.DataInsert,
		[Data] = ISNULL(C0.[Data], C1.[Data]),
		[Submercado] = ISNULL(C0.Submercado, C1.Submercado),
		DIFF_Preco = ISNULL(C0.Preco,0) - ISNULL(C1.Preco,0),
		Preco_d0 = C0.Preco,
		Preco_d1 = C1.Preco
	INTO Modelo.dbo.proc_POC_Historico_DIFF_PLD
	FROM Modelo.dbo.proc_POC_Historico_PLD_d0 C0
	FULL OUTER JOIN Modelo.dbo.proc_POC_Historico_PLD_d1 C1
	ON C0.[Data] = C1.[Data]
		AND C0.Submercado = C1.Submercado;

	-------------------------------------------------------------------------------------------------------------------
	-- Bases de VPL

	DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_vpl_d0;
	with datas as (
		select distinct [DataFornecimento] from Modelo.dbo.proc_POC_Historico_portfolio_d0
	),
	taxas_vpl_d0 as (
		select
			vpl = @vpl,
			data_vpl = @data_d0,
			taxa_desconto_vpl = Book.[dbo].[getVpl](@data_d0, [DataFornecimento], 1, @vpl),
			[datafornecimento] = DataFornecimento
		from datas
	)
	SELECT * INTO Modelo.dbo.proc_POC_Historico_vpl_d0 FROM taxas_vpl_d0;


	DROP TABLE IF EXISTS Modelo.dbo.proc_POC_Historico_vpl_d1;
	with datas as (
		select distinct [DataFornecimento] from Modelo.dbo.proc_POC_Historico_portfolio_d1
	),
	taxas_vpl_d1 as (
		select
			vpl = @vpl,
			data_vpl = @data_d1,
			taxa_desconto_vpl = Book.[dbo].[getVpl](@data_d1, [DataFornecimento], 1, @vpl),
			[datafornecimento] = DataFornecimento
		from datas
	)
	SELECT * INTO Modelo.dbo.proc_POC_Historico_vpl_d1 FROM taxas_vpl_d1;

END
 
 --alter table Modelo.dbo.proc_POC_Historico_portfolio_d0
 --ALTER COLUMN Thunders [varchar](20) NULL

 --SELECT * FROM Modelo.dbo.proc_POC_Historico_vpl_d1